# Group Members
1. Prince Odoi Asare
2. Acorlor Prosper Elorm
3. Frank Acquah
4. Jessica Offei Dansowaah
5. Seth Agyemang

# Mutable And Immutable Data Types

# Mutable Data Types

+ Mutable objects are those whose values or content can be changed after creation.
+ Modifications to a mutable object directly affect the original object.
## Examples ...
### Lists
- lists are mutable sequences, meaning you can change their elements, add new elements, or remove existing ones.

In [1]:
# create a list
my_list = [1, 2, 3]
print(my_list)

[1, 2, 3]

In [2]:
# modify an element, in this case the first element
my_list[0] = 10
print(my_list)

[10, 2, 3]

In [3]:
# add an element
my_list.append(4)
print(my_list)

[10, 2, 3, 4]

In [4]:
# remove an element
del my_list[1]
print(my_list)

[10, 3, 4]

### Dictionaries
* Dictionaries are also mutable collections of key-value pairs.

In [5]:
# create a dictionary
my_dict = {'a': 1, 'b': 2, 'c': 3}
print(my_dict)

{'a': 1, 'b': 2, 'c': 3}

In [6]:
# modify the value of key 'b'
my_dict['b'] = 20 
print(my_dict)

{'a': 1, 'b': 20, 'c': 3}

In [7]:
# add a new key-value pair
my_dict['d'] = 14
print(my_dict)

{'a': 1, 'b': 20, 'c': 3, 'd': 14}

In [8]:
# remove a key-value pair
del my_dict['a']
print(my_dict)

{'b': 20, 'c': 3, 'd': 14}

# Immutable Data Types

+ Immutable objects are those whose values cannot be changed after creation.
+ Any operation that appears to modify an immutable object creates a new object.

## Examples ...
### Tuples

- Tuples are immutable sequences. Once a tuple is created, you cannot change its elements.

In [9]:
my_tuple = (1, 2, 3)
# The following line would raise an error:
# Error: 'tuple' object does not support item assignment

In [10]:
my_tuple[0] = 10 #the tuple element cannot be changed

TypeError: 'tuple' object does not support item assignment

### Strings
- Strings are immutable sequences of characters. You cannot change individual characters in a string.

In [ ]:
my_string = "Hello"
# The following line would raise an error:
# Error: 'str' object does not support item assignment

In [11]:
my_string[0] = 'h' # strings are also immutable

NameError: name 'my_string' is not defined

### Numeric Types (eg., Integer, Float)

+ These are also immutable.
+ Any operation that appears to modify them actually creates a new object.

In [12]:
# Immutable: Integer
x = 5
y = x  # y now references the same value as x

# Attempting to modify x
# This operation does not modify the existing integer object but creates a new one
x += 1

# The value of y remains unchanged
print(y)
print(x)

5
6

- So we see that the initial value of x, referenced to y does not change in the code above, instead a new object is created.
- The same thing happens for the float data type

In [13]:
# Immutable: Float
a = 3.14
b = a  # b now references the same value as a

# Attempting to modify a
# This operation does not modify the existing float object but creates a new one
a += 1.0

# The value of b remains unchanged
print(b)

3.14

- a does not change, instead a new object of a is created